@font-face {
  font-family: "GT Super Display Bold";
  src: url("GTSuper/GT-Super-Display-Bold.ttf");
}

body {
  background-color: black;
}

.columnar {
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: white;
  padding-bottom: 30px;
}

.website-sub-title {
  font-family: 'GT Super Display Bold', serif;
  font-size: 64px;
  color: white;
  padding-bottom: 40px;
}

.thumbnail-section-wrap {
  max-width: 1125px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.thumbnail {
  position: relative;
  text-align: center;
  color: white;
}

/* This is a lot of CSS to center some text on an img. I should have made the img a
   background image and I think I would have had an easier time but I didn't */
.thumbnail-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-family: 'GT Super Display Bold', serif;
  font-size: 40px;
  color: white;
}

.thumbnail-wrap {
  flex: none;
  width: 375px;
  height: 187.5px;
  object-fit: cover;
  cursor: pointer;
}

.video-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  border-style: solid;
  border-left-width: 0px;
  border-top-width: 8px;
}

.video-player {
  display: flex;
  flex-direction: row;
  /* padding-top: 40px; */
  height: 400px;
}

.video-title {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  width: 50px;
  /* hack to get alignment of vertical text */
  padding-top: 30px;
  margin-top: 30px;
}

.video-embed {
  width: 650px;
  padding-right: 32px;
  padding-left: 32px;
}

.video-close-button {
  cursor: pointer;
  color: white;
  width: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

.vertical-text {
	transform: rotate(270deg);
  transform-origin: left top 0;
}